.karkhc {
  --md-sys-color-primary: rgb(255 234 251);
  --md-sys-color-surface-tint: rgb(249 171 255);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(248 165 255);
  --md-sys-color-on-primary-container: rgb(27 0 33);
  --md-sys-color-secondary: rgb(255 234 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(225 190 231);
  --md-sys-color-on-secondary-container: rgb(34 11 42);
  --md-sys-color-tertiary: rgb(209 246 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(62 212 237);
  --md-sys-color-on-tertiary-container: rgb(0 13 17);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(25 17 25);
  --md-sys-color-on-background: rgb(238 222 234);
  --md-sys-color-surface: rgb(25 17 25);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(81 66 80);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 234 251);
  --md-sys-color-outline-variant: rgb(209 189 206);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(238 222 234);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(125 0 146);
  --md-sys-color-primary-fixed: rgb(255 214 254);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(249 171 255);
  --md-sys-color-on-primary-fixed-variant: rgb(36 0 44);
  --md-sys-color-secondary-fixed: rgb(250 215 255);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(222 187 228);
  --md-sys-color-on-secondary-fixed-variant: rgb(30 7 38);
  --md-sys-color-tertiary-fixed: rgb(161 239 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(68 216 241);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 24);
  --md-sys-color-surface-dim: rgb(25 17 25);
  --md-sys-color-surface-bright: rgb(87 77 86);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(37 29 37);
  --md-sys-color-surface-container: rgb(55 45 54);
  --md-sys-color-surface-container-high: rgb(66 56 65);
  --md-sys-color-surface-container-highest: rgb(78 68 77);
}