.light-medium-contrast {
  --md-sys-color-primary: rgb(96 0 113);
  --md-sys-color-surface-tint: rgb(154 37 174);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(156 39 176);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(70 45 77);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(128 99 135);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 60 69);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(0 120 136);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 247 250);
  --md-sys-color-on-background: rgb(33 25 33);
  --md-sys-color-surface: rgb(255 247 250);
  --md-sys-color-on-surface: rgb(22 15 22);
  --md-sys-color-surface-variant: rgb(242 220 238);
  --md-sys-color-on-surface-variant: rgb(63 50 63);
  --md-sys-color-outline: rgb(93 78 92);
  --md-sys-color-outline-variant: rgb(120 104 119);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(55 45 54);
  --md-sys-color-inverse-on-surface: rgb(252 236 248);
  --md-sys-color-inverse-primary: rgb(249 171 255);
  --md-sys-color-primary-fixed: rgb(171 56 191);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(143 21 164);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(128 99 135);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(103 75 110);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(0 120 136);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(0 94 106);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(209 194 206);
  --md-sys-color-surface-bright: rgb(255 247 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 239 251);
  --md-sys-color-surface-container: rgb(243 228 239);
  --md-sys-color-surface-container-high: rgb(232 216 228);
  --md-sys-color-surface-container-highest: rgb(220 205 217);
}
